.sudokuBoard {
  background-repeat: no-repeat;
  background-size:100%;
  text-align: center;
  height: 80%;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10%;
  margin-bottom: 25%;
  
}
body {
  background-image: url(greybackground.jpg);
}
td {
  box-shadow: inset;
  cursor: pointer;
  font-size: 25px;
  border-spacing: 0;
  padding-top: 10px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-image: url(greybackground.jpg) 100 100 round;
  border-image-repeat: none;
}

table {
  table-layout: fixed;
  background-image: url(woodbackground.jpg);
  border-spacing: 0;
  border-radius: 25px;
  border-image: url(greybackground.jpg) 50 50 round;
  border-image-repeat: none;
}

.newBoardButton {
  margin-left: 25%;
  height: 70px;
  width: 200px;
  background-image: url(woodbackground.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  border: 10px solid black;
  font-size: 25px;

}

